name: Run Python Script Daily
on:
  schedule:
    - cron: '15 11 * * *'  # Daily at 11:15 UTC
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Miniconda and install dependencies
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          use-mamba: true
          activate-environment: weather-env
          environment-file: environment.yml
          python-version: 3.11
          channels: conda-forge
          channel-priority: strict
          auto-activate-base: false
      
      - name: Cache conda environment
        uses: actions/cache@v4
        with:
          path: /usr/share/miniconda/envs/weather-env
          key: conda-${{ hashFiles('environment.yml') }}
      
      - name: List installed packages
        shell: bash -el {0}
        run: |
          conda info
          conda list
      
      - name: Run Report script (Attempt 1)
        shell: bash -el {0}
        id: attempt1
        env: 
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          GMAIL_PW: ${{ secrets.GMAIL_PW }}
        run: python morning_weather_report.py
        continue-on-error: true
      
      - name: Wait before Retry 2
        if: steps.attempt1.outcome == 'failure'
        run: sleep 300
      
      - name: Run Report script (Attempt 2)
        shell: bash -el {0}
        id: attempt2
        if: steps.attempt1.outcome == 'failure'
        env: 
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          GMAIL_PW: ${{ secrets.GMAIL_PW }}
        run: python morning_weather_report.py
        continue-on-error:
